@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #1b5b31;
  --grey: #f5f0ec;
}

/* custom padding */
@media (max-width: 480px) {
  .padding-global {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .padding-global {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 769px) and (max-width: 976px) {
  .padding-global {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
}

@media (min-width: 977px) {
  .padding-global {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
}

.padding-global-left-only {
  padding-right: 0;
}

.padding-global-right-only {
  padding-left: 0;
}

.no-padding-global {
  padding-left: 0;
  padding-right: 0;
}

/* custom grid */
.custom-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@media (max-width: 480px) {
  .custom-grid {
    gap: 1rem 1rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .custom-grid {
    gap: 1rem 2rem;
  }
}

@media (min-width: 769px) and (max-width: 976px) {
  .custom-grid {
    gap: 1rem 3rem;
  }
}

@media (min-width: 977px) {
  .custom-grid {
    gap: 1rem 4rem;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Montserrat, sans-serif;
  }

  body {
    font-family: Inter, sans-serif;
  }
}

.search-input {
  width: 0;
  transition: width 0.5s ease-in-out;
}

.search-input.active {
  width: 6rem;
}

.btn {
  padding: 0.75rem 1.5rem 0.875rem 1.5rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 12.5rem;
  background: var(--green);
  color: var(--grey);
  font-size: 1rem;
  transition: ease-in-out 0.3s;
  white-space: nowrap;
  align-self: start;
}

.btn:hover {
  scale: 0.95;
}

.btn-secondary {
  background-color: transparent;
  color: var(--green);
  border: 1px solid var(--green);
}

.btn-white {
  border: 1px solid white;
  color: white;
}

.btn-third {
  background-color: transparent;
  color: var(--green);
  border-radius: 0;
  border-bottom: 1px solid var(--green);
  padding: 0;
  padding-bottom: 0.25rem;
}
.btn-instagram{
  background-color: white;
  color: var(--green);
}

/* gallery */
#gallery-load-mask{
  background: linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%);
  pointer-events: none;
}





